
div.lmj-welcome-text{
    position:absolute;
    bottom:10%;
    width:20%;
    left:35%;
}

#Box_descriptif{
    
    text-align : center;
    
} 

.h3{
	font-family:'Cambria Regular'
}