#Type {
    display:table-cell;
    border:5px solid black;
    margin-left: 19.25%;
    margin-right: 52%;
    padding: 20px 45px;
    margin-top: 0.5%;
   }
#Info{
    display:table-cell;
    border:5px solid black;
    margin-left: 52%;
    margin-right: 19.25%;
    padding: 20px 45px;
    margin-top: 0.5%;
}